// blueryb
$blueryb-colors: (
blueryb-01: hsl(210, 4%, 96%),
blueryb-02: hsl(210, 8%, 94%),
blueryb-03: hsl(210, 12%, 90%),
blueryb-04: hsl(210, 16%, 85%),
blueryb-05: hsl(210, 20%, 80%),
blueryb-06: hsl(210, 24%, 75%),
blueryb-07: hsl(210, 28%, 70%),
blueryb-08: hsl(210, 32%, 65%),
blueryb-09: hsl(210, 36%, 60%),
blueryb-10: hsl(210, 40%, 55%),
blueryb-11: hsl(210, 60%, 50%),
blueryb-12: hsl(210, 65%, 45%),
blueryb-13: hsl(210, 70%, 40%),
blueryb-14: hsl(210, 75%, 35%),
blueryb-15: hsl(210, 80%, 30%),
blueryb-16: hsl(210, 84%, 25%),
blueryb-17: hsl(210, 88%, 20%),
blueryb-18: hsl(210, 92%, 16%),
blueryb-19: hsl(210, 96%, 12%),
blueryb-20: hsl(210, 100%, 8%),
);
