// green
$green-colors: (
green-01: hsl(155, 4%, 96%),
green-02: hsl(155, 8%, 94%),
green-03: hsl(155, 12%, 90%),
green-04: hsl(155, 16%, 85%),
green-05: hsl(155, 20%, 80%),
green-06: hsl(155, 24%, 75%),
green-07: hsl(155, 28%, 70%),
green-08: hsl(155, 32%, 65%),
green-09: hsl(155, 36%, 60%),
green-10: hsl(155, 40%, 55%),
green-11: hsl(155, 50%, 50%),
green-12: hsl(155, 55%, 45%),
green-13: hsl(155, 60%, 40%),
green-14: hsl(155, 70%, 35%),
green-15: hsl(155, 75%, 30%),
green-16: hsl(155, 80%, 25%),
green-17: hsl(155, 85%, 20%),
green-18: hsl(155, 90%, 16%),
green-19: hsl(155, 95%, 12%),
green-20: hsl(155, 100%, 8%),
);
