// red
$red-colors: (
red-01: hsl(9, 10%, 96%),
red-02: hsl(9, 13%, 94%),
red-03: hsl(9, 16%, 90%),
red-04: hsl(9, 19%, 85%),
red-05: hsl(9, 22%, 80%),
red-06: hsl(9, 25%, 75%),
red-07: hsl(9, 28%, 70%),
red-08: hsl(9, 31%, 65%),
red-09: hsl(9, 34%, 60%),
red-10: hsl(9, 37%, 55%),
red-11: hsl(9, 70%, 50%),
red-12: hsl(9, 73%, 45%),
red-13: hsl(9, 76%, 40%),
red-14: hsl(9, 79%, 35%),
red-15: hsl(9, 82%, 30%),
red-16: hsl(9, 85%, 25%),
red-17: hsl(9, 90%, 20%),
red-18: hsl(9, 94%, 16%),
red-19: hsl(9, 98%, 12%),
red-20: hsl(9, 100%, 8%),
);
