<header class="cv-cyan-02-bg cv-cobalt-12-fg">
  {% if page_type == "index" %}
  <span class="cv-monochrome-cyan-18-bg cv-monochrome-cyan-01-fg" id="output">color-variable</span>
  {% endif %}
  <h1>ColrVars</h1>
</header>
