<header class="cv-cyan-2-bg cv-cobalt-12-fg">
  <span class="cv-monochrome-cyan-18-bg cv-monochrome-cyan-1-fg" id="output">color-variable</span>
  <h1><span class="title">ColrVars</span></h1>
</header>
