{% extends "layouts/layout.njk" %}
{% set base_path = "../" %}
{% set page_title = "ColrVars" %}
{% set page_type = "page" %}
{% set body_classes = "testing" %}
{% set main_header_classes = "header" %}
{% import "macros/macro-tile.njk" as macroTile %}
{% block main -%}
  {{ super() }}


<div class="container">

<p>Go <a href="//atelierbram.github.io/colr-vars/">see the demo</a>.</p>

<h3>Usage</h3>

<p>In the main sass stylesheet import the sass-maps color variables <code>colrvars.scss</code></p>

<div class="code">

<pre style="background-color: rgb(245, 247, 255); height: 214px;"><code class="scss hljs" style="height: auto;">@<span class="hljs-keyword">import</span> <span class="hljs-string">'colrvars'</span>;

<span class="hljs-selector-class">.test</span> {
  <span class="hljs-attribute">background-color</span>: color(blue-<span class="hljs-number">11</span>);
}
<span class="hljs-selector-class">.test</span> <span class="hljs-selector-tag">p</span> {
  <span class="hljs-attribute">color</span>: color(gold-<span class="hljs-number">06</span>);
}</code></pre>


</div>

<div class="test"><p>Alternatively, convert the sass-map syntax to the dollar-sign syntax like:</p></div>

<div class="code">
<pre style="background-color: rgb(245, 247, 255); height: 340px;"><code class="scss hljs" style="height: auto;">@<span class="hljs-keyword">import</span> <span class="hljs-string">'colrvars'</span>;

<span class="hljs-variable">$blue-11</span>: color(blue-<span class="hljs-number">11</span>);
<span class="hljs-variable">$gold-06</span>: color(gold-<span class="hljs-number">06</span>);

<span class="hljs-selector-class">.test</span> {
  <span class="hljs-comment">// background-color: color(blue-11);</span>
  <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$blue-11</span>;
}

<span class="hljs-selector-class">.test</span> <span class="hljs-selector-tag">p</span> {
  <span class="hljs-comment">// color: color(gold-06);</span>
  <span class="hljs-attribute">color</span>: <span class="hljs-variable">$gold-06</span>;
}</code></pre>
</div>

<h3>Adaptation</h3>

<p>To to make them your own, and adapt these colorvalues one will have to edit <code>data.json</code>. Get into Nunjucks templating (<code>src/schemes</code>) with this if it’s additional colors, and/or renaming of colors as well. Download or clone this repository, NPM install all the dependencies, edit the colorvalues in <code>data.json</code>, and run <code>grunt</code> from the commandline.</p>

</div>
{%- endblock -%}
